<div class="modal" tabindex="-1" id="add_edit_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="sample_form" type="reset">
                <div class="modal-header">
                    <h5 class="modal-title" id="dynamic_modal_title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Название книги</label>
                        <input type="text" name="title" id="title" class="form-control"/>
                        <span id="title_error" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Автор</label>
                        <input type="text" name="authors" id="authors" class="form-control"/>
                        <span id="authors_error" class="text-danger"></span>
                    </div>
                    <!--                    <div class="mb-3">-->
                    <!--                        <label class="form-label">Жанр id</label>-->
                    <!--                        <input type="text" name="idGenre" id="genre" class="form-control"/>-->
                    <!--                        <span id="genre_error" class="text-danger"></span>-->
                    <!--                    </div>-->
                    <div class="mb-3">
                        <select name="idGenre" class="form-select" aria-label="Выберете жанр" id="genres">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Обложка книги</label>
                        <input type="text" name="pathImg" id="path_img" class="form-control"/>
                        <span id="path_img_error" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Год выпуска книги</label>
                        <input type="text" name="yearOfIssue" id="year_of_issue" class="form-control"/>
                        <span id="year_of_issue_error" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Описание</label>
                        <input type="text" name="summary" id="summary" class="form-control"/>
                        <span id="summary_error" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="id"/>
                    <input type="hidden" name="action" id="action" value="Add"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="action_button">Add</button>
                </div>
                <script src="/view/book/add_edit_book.js"></script>
            </form>
        </div>
    </div>
</div>